.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fffafa;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(216, 145, 173, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(160, 53, 53, 0.8);
  }
}
