.Hero {
  margin: 5rem 0;
  background: url(/public/IKEAsofa.jpg) no-repeat center;
  width: 100%;
  background-size: cover;
}

.Hero .container
{height: 100vh;
  z-index: 9;
  position: relative;

}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 39px;
  display: flex;
    margin-left: 23px;
}

