.bgCat
{  
    padding: 12px;
    margin-top: 2px;


}
.circular-image
{
   
    margin-top: 20px;
}

@media (max-width: 450px) { 
   .swiper-wrapper
   {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
flex-wrap: nowrap;
row-gap: 60px;
column-gap: 50px;

   }
 }
 @media (max-width: 350px) { 
    .swiper-wrapper
    {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: stretch;
 flex-wrap: nowrap;
 row-gap: 40px;
 column-gap: 50px;
    }
  }
 
